@import "../../styles/_variables";

.TreasureCards {
}

@media screen and (max-width: 1500px) {
  .TreasureCards {
    position: absolute;
    right: 0;
    z-index: 2;
    display: flex;
    flex-direction: column;
    border-left: 2px solid $color2;
    border-bottom: 5px dashed $color1;
    box-shadow: -1px -4px 5px $color2;
    padding: 1rem 1.2rem 0.5rem 1.2rem;
  }
}
