.PlayerDeck {
  border: 1px solid blue;
  position: absolute;
  z-index: 1;
  bottom: 15%;
  left: 2%;
  transition: 0.2s all ease;
}

@media screen and (max-width: 1500px) {
  .PlayerDeck {
    // width: 50%;
    transform: translate(115%, 15%);
  }
}
