@import "../../styles/_variables.scss";

.PlayerHand {
  display: flex;
  position: relative;
  z-index: 2;
  justify-content: center;
  transform: translateY(60%);
  .card:hover {
    transition: 0.8s transform ease;
    transform: translateY(-60%);
  }
}

@media screen and (max-width: 1500px) {
  .PlayerHand {
    // width: 50%;
    // transform: translateY(60%);
  }
}
