@import "../../styles/_variables.scss";

.PlayerHand {
  display: flex;
  position: absolute;
  bottom: 0;
  z-index: 2;
  justify-content: center;
  transform: translateY(60%);
  .card:hover {
    transition: 0.8s transform ease;
    transform: translateY(-60%);
  }
}
