@import "../../styles/_variables.scss";
@import "../../styles/_animations.scss";

.PlayerSection {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  background-color: $color1;
  .end-turn {
    position: absolute;
    right: 1.5rem;
    bottom: 1.5rem;
    padding: 0.5rem;
    border: 1px solid $color2;
    background-color: $color2;
    color: $color1;
    cursor: pointer;
    transition: 0.49s cubic-bezier(0.4, 2.42, 0.29, -0.04);
    &:active {
      background-color: white;
      color: $color2;
    }
    &:focus {
      outline: none;
    }
  }
}

.loading-page {
  font-family: "Germania One", cursive;
  border: 1px solid blue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  .loading-container {
    animation: fadeInUp 1.2s;
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 225px;
    width: 350px;
    border: 1px solid $color2;
    border-top: 1px dashed $color2;
    border-bottom: 1px dashed $color2;
    background-color: $color1;
    box-shadow: 1px 1px 15px $color2;
  }
  .loading-icon-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color2;
    width: 100%;
  }
  .loading-icon {
  }
  .game-id {
  }
  .background-image {
    position: absolute;
    z-index: 1;
    height: 100vh;
    width: 100vw;
    background: url("https://tsdbcg.herokuapp.com/card_images/freshwater-bay.jpg");
    background-size: cover;
  }
  h2 {
    margin: 1rem 0;
  }
}
