$color1: rgb(247, 247, 247);
$color2: rgb(29, 29, 29);
$color3: rgb(83, 83, 83);
$color4: rgb(218, 218, 218);
$color5: rgba(208, 200, 142, 1);

//global
.side-shelf {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: $color3;
}
