$color1: rgb(255, 255, 255);
$color2: rgb(29, 29, 29);
$color3: rgb(128, 50, 50);
$color4: rgb(161, 156, 156);
$color5: rgba(208, 200, 142, 1);

//global
.side-shelf {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: $color3;
}
