@import "../../styles/_variables.scss";

.TableDeck {
  display: flex;
  width: 100%;
  background-color: $color4;
  border-bottom: 4px solid $color2;
}

@media screen and (max-width: 1500px) {
  .TableDeck {
  }
}
