@import "../../styles/_variables.scss";

.TableDeck {
  display: flex;
  width: 100%;
  background: url("../../assets/card_images/freshwater-bay.jpg");
  background-size: cover;
  border-bottom: 4px solid $color2;
}
