.ActivatedCards {
  display: flex;
  position: absolute;
  justify-content: center;
  z-index: 1;
  width: 50%;
  margin-top: 0.5rem;
  border: 1px solid black;
  border-bottom: 1px dashed black;
  border-top: 1px dashed black;
  min-height: 100px;
}
