@import '../../styles/_variables.scss';
@import '../../styles/_animations.scss';

.ActivatedCards {
  display: flex;
  position: absolute;
  justify-content: center;
  font-family: 'Germania One', cursive;
  z-index: 1;
  width: 50%;
  margin-top: 0.5rem;
  border: 1px solid $color2;
  border-bottom: 1px dashed $color1;
  border-top: 1px dashed $color1;
  background-color: rgba(0, 0, 0, 0.55);
  min-height: 100px;
  transition: 1s all;
  .waiting-response {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .turn-notifier {
    color: $color1;
    font-size: 22px;
    margin: auto;
    animation: fadeIn 0.7s;
  }
  .turn-notifier-void {
    display: none;
  }
  .turn-loader {
    // border: 1px solid red;
    margin: 0.5rem;
    transform: scale(0.5);
  }
}
