@import "../../styles/_variables.scss";

.ActionCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 60%;
  min-width: 740px;
  padding: 1rem;
  margin: 0.2rem auto;
  border: 1px solid $color2;
  border-bottom: 4px solid $color2;
  background-color: $color3;
}
