@import "../../styles/variables";

.DiscardPile {
  position: absolute;
  z-index: 1;
  bottom: 15%;
  right: 2%;
  transition: 0.2s all ease;
  background-color: $color4;
}

@media screen and (max-width: 1500px) {
  .DiscardPile {
    transform: translate(-115%, 15%);
  }
}
