.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 100vh;
  border: 1px solid red;
}

.TableDeck {
  display: flex;
  margin-top: 1rem;
  border: 1px solid red;
  width: 100%;
  height: 50%;
}

.PrimaryCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  width: 60%;
  border: 1px solid blue;
}

.VictoryCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.TreasureCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  position: relative;
  z-index: 2;
  border: 1px solid red;
  height: 140px;
  width: 100px;
  margin: 0.5rem;
  background-color: #eee;
  transition: 0.5s ease-in-out;
}

.card:hover {
  z-index: 3;
  cursor: pointer;
  transform: scale(1.3);
}

.PlayerSection {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid green;
  width: 100%;
  height: 100%;
}

.PlayerDeck {
  border: 1px solid blue;
  position: absolute;
  bottom: 15%;
  left: 2%;
}

.PlayerHand {
  display: flex;
  justify-content: center;
  border: 1px solid blue;
  width: 90%;
  height: 160px;
}
